@charset "UTF-8";
/* Esri Calcite Gray Colors - Last Updated 03/02/15 */

@import "variables";

/*
{
name: "Calcite Gray Colors",
tags: "Calcite Gray,Calcite"
}
*/

/* -- Calcite Gray -- */

.Calcite_Gray_100 {
  background-color: $Calcite_Gray_100;

  /*
   {
  Hex:"#F7F8F8",
  RGB:"r248 g248 b248"
  }
  */

}

.Calcite_Gray_150 {
  background-color: $Calcite_Gray_150;

  /*
   {
  Hex:"#F2F3F3",
  RGB:"r243 g244 b244"
  }
  */

}


.Calcite_Gray_200 {
  background-color: $Calcite_Gray_200;

  /*
   {
  Hex:"#EFEEEF",
  RGB:"r239 g239 b240"
  }
  */

}


.Calcite_Gray_250 {
  background-color: $Calcite_Gray_250;

  /*
   {
  Hex:"#E5E6E7",
  RGB:"r230 g231 b232"
  }
  */

}


.Calcite_Gray_300 {
  background-color: $Calcite_Gray_300;

  /*
   {
  Hex:"#E0E0DF",
  RGB:"r224 g224 b224"
  }
  */

}


.Calcite_Gray_350 {
  background-color: $Calcite_Gray_350;

  /*
   {
  Hex:"#CBCBCB",
  RGB:"204 g204 b204"
  }
  */

}


.Calcite_Gray_400 {
  background-color: $Calcite_Gray_400;

  /*
   {
  Hex:"#A6A8AB",
  RGB:"r167 g169 b172"
  }
  */

}


.Calcite_Gray_450 {
  background-color: $Calcite_Gray_450;

  /*
   {
  Hex:"#929497",
  RGB:"r147 g149 b152"
  }
  */

}


.Calcite_Gray_500 {
  background-color: $Calcite_Gray_500;

  /*
   {
  Hex:"#7F8183",
  RGB:"r128 g130 b132"
  }
  */

}


.Calcite_Gray_550 {
  background-color: $Calcite_Gray_550;

  /*
   {
  Hex:"#6C6D70",
  RGB:"r109 g110 b113"
  }
  */

}


.Calcite_Gray_600 {
  background-color: $Calcite_Gray_600;

  /*
   {
  Hex:"#57585A",
  RGB:"r88 g89 b91"
  }
  */

}


.Calcite_Gray_650 {
  background-color: $Calcite_Gray_650;

  /*
   {
  Hex:"#4C4C4C",
  RGB:"r76 g76 b76"
  }
  */

}


.Calcite_Gray_700 {
  background-color: $Calcite_Gray_700;

  /*
   {
  Hex:"#323232",
  RGB:"r51 g51 b51"
  }
  */

}































