// Esri Brand Colors
$Esri_Brand_Blue_100 = #b9e0f7
$Esri_Brand_Blue_150 = #00b9f2
$Esri_Brand_Blue_200 = #007ac2
$Esri_Brand_Blue_250 = #004575
$Esri_Brand_Yellow_100 = #ffec4f
$Esri_Brand_Orange_100 = #f89927
$Esri_Brand_Orange_150 = #f36f20
$Esri_Brand_Red_100 = #da4d1e
$Esri_Brand_Red_150 = #de2900
$Esri_Brand_Green_100 = #d1e391
$Esri_Brand_Green_150 = #aad04b
$Esri_Brand_Green_200 = #35ac46
$Esri_Brand_Green_250 = #2a7433
$Esri_Brand_Purple_100 = #dfcce3
$Esri_Brand_Purple_150 = #b279b4
$Esri_Brand_Purple_200 = #8f499c
$Esri_Brand_Purple_250 = #6b1978
$Esri_Brand_Brown_100 = #ecdcb9
$Esri_Brand_Brown_150 = #be9969
$Esri_Brand_Brown_200 = #7b4f1c
$Esri_Brand_Brown_250 = #523b20
$Esri_Brand_Gray_100 = #b4b4b4
$Esri_Brand_Gray_150 = #969696
$Esri_Brand_Gray_200 = #6e6e6e
$Esri_Brand_Gray_250 = #464646

// Calcite Core Colors
$Calcite_Blue_100 = #d2e9f9
$Calcite_Blue_150 = #bcdaed
$Calcite_Blue_200 = #6cb4e2
$Calcite_Blue_250 = #56a5d8
$Calcite_Blue_300 = #49b0f2
$Calcite_Blue_350 = #419ed9
$Calcite_Blue_400 = #3b8fc4
$Calcite_Blue_450 = #196fa6
$Calcite_Yellow_100 = #f3edc7
$Calcite_Yellow_150 = #efe397
$Calcite_Yellow_200 = #e4d154
$Calcite_Yellow_250 = #d8c34b
$Calcite_Yellow_300 = #f2d530
$Calcite_Yellow_350 = #d9bf2b
$Calcite_Yellow_400 = #bda726
$Calcite_Yellow_450 = #a68d00
$Calcite_Orange_100 = #fbe1c2
$Calcite_Orange_150 = #f6ca92
$Calcite_Orange_200 = #eda959
$Calcite_Orange_250 = #e79c47
$Calcite_Orange_300 = #ff9f33
$Calcite_Orange_350 = #e8912e
$Calcite_Orange_400 = #d17e21
$Calcite_Orange_450 = #ad6511
$Calcite_Green_100 = #d2e9f9
$Calcite_Green_150 = #9bc19c
$Calcite_Green_200 = #67a966
$Calcite_Green_250 = #5a9359
$Calcite_Green_300 = #50ad4e
$Calcite_Green_350 = #449443
$Calcite_Green_400 = #338033
$Calcite_Green_450 = #275e26
$Calcite_Red_100 = #f3ded7
$Calcite_Red_150 = #e4a793
$Calcite_Red_200 = #c86a4a
$Calcite_Red_250 = #c6542d
$Calcite_Red_300 = #e04f1d
$Calcite_Red_350 = #c7461a
$Calcite_Red_400 = #ab3c16
$Calcite_Red_450 = #8c2907
$Calcite_Purple_100 = #e5e1ef
$Calcite_Purple_150 = #c4bcdc
$Calcite_Purple_200 = #9081bc
$Calcite_Purple_250 = #7b6ca7
$Calcite_Purple_300 = #846ebf
$Calcite_Purple_350 = #7461a8
$Calcite_Purple_400 = #61518c
$Calcite_Purple_450 = #4f4273
$Calcite_Brown_100 = #e8ddd3
$Calcite_Brown_150 = #d2b38f
$Calcite_Brown_200 = #b78a54
$Calcite_Brown_250 = #a57946
$Calcite_Brown_300 = #bf813a
$Calcite_Brown_350 = #a67032
$Calcite_Brown_400 = #8c5e2a
$Calcite_Brown_450 = #734d22

// Calcite Gray Colors
$Calcite_Gray_100 = #f7f8f8
$Calcite_Gray_150 = #f2f3f3
$Calcite_Gray_200 = #efeeef
$Calcite_Gray_250 = #e5e6e7
$Calcite_Gray_300 = #e0e0df
$Calcite_Gray_350 = #cbcbcb
$Calcite_Gray_400 = #a6a8ab
$Calcite_Gray_450 = #929497
$Calcite_Gray_500 = #7f8183
$Calcite_Gray_550 = #6c6d70
$Calcite_Gray_600 = #57585a
$Calcite_Gray_650 = #4c4c4c
$Calcite_Gray_700 = #323232

// Calcite Hightlight Color
$Calcite_Highlight_Blue_100 = #e2f1fb
$Calcite_Highlight_Blue_150 = #c5e5f9
$Calcite_Highlight_Blue_200 = #aadbfa
$Calcite_Highlight_Blue_250 = #90cdf2
$Calcite_Highlight_Blue_300 = #80bce0
$Calcite_Highlight_Blue_350 = #0079c1
$Calcite_Highlight_Blue_400 = #005e95
$Calcite_Highlight_Green_100 = #cfedcc
$Calcite_Highlight_Green_150 = #b0e2b0
$Calcite_Highlight_Green_200 = #96ce96
$Calcite_Highlight_Green_250 = #7dc17d
$Calcite_Highlight_Green_300 = #7bb974
$Calcite_Highlight_Green_350 = #31872e
$Calcite_Highlight_Green_400 = #2b622b

//Calcite Vibrant Colors
$Calcite_Vibrant_Blue_100 = #c7e9ff
$Calcite_Vibrant_Blue_150 = #69dcff
$Calcite_Vibrant_Blue_200 = #00dee7
$Calcite_Vibrant_Blue_250 = #b3e9f9
$Calcite_Vibrant_Yellow_100 = #ffefb7
$Calcite_Vibrant_Yellow_150 = #fad817
$Calcite_Vibrant_Yellow_200 = #fff000
$Calcite_Vibrant_Green_100 = #daffd9
$Calcite_Vibrant_Green_150 = #71de6e
$Calcite_Vibrant_Green_200 = #a5e800
$Calcite_Vibrant_Red_100 = #ffc0b3
$Calcite_Vibrant_Red_150 = #ff642e
$Calcite_Vibrant_Red_200 = #de2900
$Calcite_Vibrant_Purple_100 = #daccff
$Calcite_Vibrant_Purple_150 = #b096ff
$Calcite_Vibrant_Purple_200 = #f185ff
$Calcite_Vibrant_Brown_100 = #ffdbb3
$Calcite_Vibrant_Brown_150 = #db8d2f
$Calcite_Vibrant_Brown_200 = #ffbc6b