@charset "UTF-8";
/* Esri Calcite Core Colors - Last Updated 03/02/15  */

@import "../../scss/variables";


/* -- Calcite Core Blue -- */

.Calcite_Blue_100 {
  background-color: $Calcite_Blue_100;
}

.Calcite_Blue_150 {
  background-color: $Calcite_Blue_150;
}

.Calcite_Blue_200 {
  background-color: $Calcite_Blue_200;
}

.Calcite_Blue_250 {
  background-color: $Calcite_Blue_250;
}

.Calcite_Blue_300 {
  background-color: $Calcite_Blue_300;
}

.Calcite_Blue_350 {
  background-color: $Calcite_Blue_350;
}

.Calcite_Blue_400 {
  background-color: $Calcite_Blue_400;
}

.Calcite_Blue_450 {
  background-color: $Calcite_Blue_450;
}


/* -- Calcite Core Yellow -- */


.Calcite_Yellow_100 {
  background-color: $Calcite_Yellow_100;
}

.Calcite_Yellow_150 {
  background-color: $Calcite_Yellow_150;
}

.Calcite_Yellow_200 {
  background-color: $Calcite_Yellow_200;
}

.Calcite_Yellow_250 {
  background-color: $Calcite_Yellow_250;
}

.Calcite_Yellow_300 {
  background-color: $Calcite_Yellow_300;
}

.Calcite_Yellow_350 {
  background-color: $Calcite_Yellow_350;
}

.Calcite_Yellow_400 {
  background-color: $Calcite_Yellow_400;
}

.Calcite_Yellow_450 {
  background-color: $Calcite_Yellow_450;
}


/* -- Calcite Core Orange -- */


.Calcite_Orange_100 {
  background-color: $Calcite_Orange_100;
}

.Calcite_Orange_150 {
  background-color: $Calcite_Orange_150;
}

.Calcite_Orange_200 {
  background-color: $Calcite_Orange_200;
}

.Calcite_Orange_250 {
  background-color: $Calcite_Orange_250;
}

.Calcite_Orange_300 {
  background-color: $Calcite_Orange_300;
}

.Calcite_Orange_350 {
  background-color: $Calcite_Orange_350;
}

.Calcite_Orange_400 {
  background-color: $Calcite_Orange_400;
}

.Calcite_Orange_450 {
  background-color: $Calcite_Orange_450;
}


/* -- Calcite Core Green -- */


.Calcite_Green_100 {
  background-color: $Calcite_Green_100;
}

.Calcite_Green_150 {
  background-color: $Calcite_Green_150;
}

.Calcite_Green_200 {
  background-color: $Calcite_Green_200;
}

.Calcite_Green_250 {
  background-color: $Calcite_Green_250;
}

.Calcite_Green_300 {
  background-color: $Calcite_Green_300;
}

.Calcite_Green_350 {
  background-color: $Calcite_Green_350;
}

.Calcite_Green_400 {
  background-color: $Calcite_Green_400;
}

.Calcite_Green_450 {
  background-color: $Calcite_Green_450;
}


/* -- Calcite Core Red -- */


.Calcite_Red_100 {
  background-color: $Calcite_Red_100;
}

.Calcite_Red_150 {
  background-color: $Calcite_Red_150;
}

.Calcite_Red_200 {
  background-color: $Calcite_Red_200;
}

.Calcite_Red_250 {
  background-color: $Calcite_Red_250;
}

.Calcite_Red_300 {
  background-color: $Calcite_Red_300;
}

.Calcite_Red_350 {
  background-color: $Calcite_Red_350;
}

.Calcite_Red_400 {
  background-color: $Calcite_Red_400;
}

.Calcite_Red_450 {
  background-color: $Calcite_Red_450;
}


/* -- Calcite Core Purple -- */


.Calcite_Purple_100 {
  background-color: $Calcite_Purple_100;
}

.Calcite_Purple_150 {
  background-color: $Calcite_Purple_150;
}

.Calcite_Purple_200 {
  background-color: $Calcite_Purple_200;
}

.Calcite_Purple_250 {
  background-color: $Calcite_Purple_250;
}

.Calcite_Purple_300 {
  background-color: $Calcite_Purple_300;
}

.Calcite_Purple_350 {
  background-color: $Calcite_Purple_350;
}

.Calcite_Purple_400 {
  background-color: $Calcite_Purple_400;
}

.Calcite_Purple_450 {
  background-color: $Calcite_Purple_450;
}


/* -- Calcite Core Brown -- */


.Calcite_Brown_100 {
  background-color: $Calcite_Brown_100;
}

.Calcite_Brown_150 {
  background-color: $Calcite_Brown_150;
}

.Calcite_Brown_200 {
  background-color: $Calcite_Brown_200
}

.Calcite_Brown_250 {
  background-color: $Calcite_Brown_250;
}

.Calcite_Brown_300 {
  background-color: $Calcite_Brown_300;
}

.Calcite_Brown_350 {
  background-color: $Calcite_Brown_350;
}

.Calcite_Brown_400 {
  background-color: $Calcite_Brown_400;
}

.Calcite_Brown_450 {
  background-color: $Calcite_Brown_450;
}

































