
//* Esri Calcite Gray Colors - Last Updated 04/16/15 *//

@import "../../scss/variables_dark";


//*
//{
//name: "Calcite Gray Colors",
//tags: "Calcite Gray,Calcite"
//}
//*/

//* -- Calcite Gray -- *//

.Calcite_Gray_050 {
  background-color: $Calcite_Gray_050;

  /*
   {
  Hex:"#FFFFFF",
  RGB:"r0 g0 b0",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}

.Calcite_Gray_100 {
  background-color: $Calcite_Gray_100;

  /*
   {
  Hex:"#F8F8F8",
  RGB:"r248 g248 b248",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}

.Calcite_Gray_150 {
  background-color: $Calcite_Gray_150;

  /*
   {
  Hex:"#F4F4F4",
  RGB:"r244 g244 b244",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_200 {
  background-color: $Calcite_Gray_200;

  /*
   {
  Hex:"#EFEFEF",
  RGB:"r239 g239 b239",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_250 {
  background-color: $Calcite_Gray_250;

  /*
   {
  Hex:"#E7E7E7",
  RGB:"r231 g231 b231",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_300 {
  background-color: $Calcite_Gray_300;

  /*
   {
  Hex:"#E0E0E0",
  RGB:"r224 g224 b224",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_350 {
  background-color: $Calcite_Gray_350;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"204 g204 b204",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_400 {
  background-color: $Calcite_Gray_400;

  /*
   {
  Hex:"#A9A9A9",
  RGB:"r169 g169 b169",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_450 {
  background-color: $Calcite_Gray_450;

  /*
   {
  Hex:"#959595",
  RGB:"r149 g149 b149",
  guid:"172ca0df-3ace-4f3a-b00d-81b65b16b517"
  }
  */

}


.Calcite_Gray_500 {
  background-color: $Calcite_Gray_500;

  /*
   {
  Hex:"#828282",
  RGB:"r130 g130 b130",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_550 {
  background-color: $Calcite_Gray_550;

  /*
   {
  Hex:"#6E6E6E",
  RGB:"r110 g110 b110",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_600 {
  background-color: $Calcite_Gray_600;

  /*
   {
  Hex:"#595959",
  RGB:"r89 g89 b89",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_650 {
  background-color: $Calcite_Gray_650;

  /*
   {
  Hex:"#4C4C4C",
  RGB:"r76 g76 b76",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}


.Calcite_Gray_700 {
  background-color: $Calcite_Gray_700;

  /*
   {
  Hex:"#323232",
  RGB:"r51 g51 b51",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:""
  }
  */

}































