@import "../../scss/variables_dark";

//* -- Calcite Vibrant_Blue_Dark -- */

.Calcite_Vibrant_Blue_100 {
  background-color: $Calcite_Vibrant_Blue_100;

  /*
   {
  Hex:"#1275BE",
  RGB:"r18 g117 b190",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}

.Calcite_Vibrant_Blue_150 {
  background-color: $Calcite_Vibrant_Blue_150;

  /*
   {
  Hex:"#0088EF",
  RGB:"r0 g136 b239",
  guid:" ",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Vibrant_Blue_200 {
  background-color: $Calcite_Vibrant_Blue_200;

  /*
   {
  Hex:"#00BFEF",
  RGB:"r0 g191 b239",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Vibrant_Blue_250 {
  background-color: $Calcite_Vibrant_Blue_250;

  /*
   {
  Hex:"#00B4BC",
  RGB:"r0 g180 b188",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Vibrant_Yellow_100 {
  background-color: $Calcite_Vibrant_Yellow_100;

  /*
   {
  Hex:"#917B00",
  RGB:"r145 g123 b0",
  guid:" ",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Vibrant_Yellow_150 {
  background-color: $Calcite_Vibrant_Yellow_150;

  /*
   {
  Hex:"#C7A900",
  RGB:"r199 g169 b0",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Vibrant_Yellow_200 {
  background-color: $Calcite_Vibrant_Yellow_200;

  /*
   {
  Hex:"#FFD800",
  RGB:"r255 g216 b0",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Calcite_Vibrant_Orange_100 {
  background-color: $Calcite_Vibrant_Orange_100;
  /*
   {
    Hex:"#A05500",
  RGB:"r160 g85 b0",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Vibrant_Orange_150 {
  background-color: $Calcite_Vibrant_Orange_150;
  /*
   {
  Hex:"#CE7C1E",
  RGB:"r206 g124 b30",
  guid:" ",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Orange_200 {
  background-color: $Calcite_Vibrant_Orange_200;
  /*
   {
  Hex:"#FFC314",
  RGB:"r255 g195 b20",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Green_100 {
  background-color: $Calcite_Vibrant_Green_100;

  /*
   {
  Hex:"#376E37",
  RGB:"r55 g110 b55",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}

.Calcite_Vibrant_Green_150 {
  background-color: $Calcite_Vibrant_Green_150;

  /*
   {
  Hex:"#58D051",
  RGB:"r88 g208 b81",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Vibrant_Green_200 {
  background-color: $Calcite_Vibrant_Green_200;

  /*
   {
  Hex:"#A4E700",
  RGB:"r164 g231 b0",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Vibrant_Red_100 {
  background-color: $Calcite_Vibrant_Red_100;

  /*
   {
  Hex:"#741C00",
  RGB:"r116 g28 b0",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}



.Calcite_Vibrant_Red_150 {
  background-color: $Calcite_Vibrant_Red_150;

  /*
   {
  Hex:"#983415",
  RGB:"r152 g52 b21",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}



.Calcite_Vibrant_Red_200 {
  background-color: $Calcite_Vibrant_Red_200;

  /*
   {
  Hex:"#E55B2D",
  RGB:"r229 g91 b45",
  guid:" ",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Vibrant_Purple_100 {
  background-color: $Calcite_Vibrant_Purple_100;

  /*
   {
  Hex:"#4F3590",
  RGB:"r79 g53 b144",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}


.Calcite_Vibrant_Purple_150 {
  background-color: $Calcite_Vibrant_Purple_150;

  /*
   {
  Hex:"#744ED3",
  RGB:"r116 g78 b211",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


.Calcite_Vibrant_Purple_200 {
  background-color: $Calcite_Vibrant_Purple_200;

  /*
   {
  Hex:"#9A4AA5",
  RGB:"r154 g74 b65",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


.Calcite_Vibrant_Brown_100 {
  background-color: $Calcite_Vibrant_Brown_100;

  /*
   {
  Hex:"#663C0F",
  RGB:"r102 g60 b15",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}


.Calcite_Vibrant_Brown_150 {
  background-color: $Calcite_Vibrant_Brown_150;

  /*
   {
  Hex:"#985C17",
  RGB:"r152 g92 b23",
  guid:" ",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


.Calcite_Vibrant_Brown_200 {
  background-color: $Calcite_Vibrant_Brown_200;

  /*
   {
  Hex:"#D38B38",
  RGB:"r211 g139 b56",
  guid:" ",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}





