@import "../../scss/variables_dark";

//*
//{
//name: "Calcite Core Colors Dark",
//tags: "Calcite Core,Calcite,Dark"
//}
//*/

///* -- Calcite Core Blue -- */

.Calcite_Blue_100 {
  background-color: $Calcite_Blue_100;

  /*
   {
  Hex:"#194765",
  RGB:"r25 g71 b101",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Blue_150 {
  background-color: $Calcite_Blue_150;

  /*
   {
  Hex:"#1C5C8B",
  RGB:"r28 g92 b139",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Blue_200 {
  background-color: $Calcite_Blue_200;

  /*
   {
  Hex:"#3A8EC2",
  RGB:"r58 g142 b194",
    guid:"",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Blue_250 {
  background-color: $Calcite_Blue_250;

  /*
   {
  Hex:"#409DD8",
  RGB:"r64 g157 b216",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Blue_a100 {
  background-color: $Calcite_Blue_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Blue_a150 {
  background-color: $Calcite_Blue_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Blue_a200 {
  background-color: $Calcite_Blue_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Blue_a250 {
  background-color: $Calcite_Blue_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}





//* -- Calcite Core Yellow -- *//


.Calcite_Yellow_100 {
  background-color: $Calcite_Yellow_100;

  /*
   {
  Hex:"#786815",
  RGB:"r120 g104 b21",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}

.Calcite_Yellow_150 {
  background-color: $Calcite_Yellow_150;

  /*
   {
  Hex:"#A18900",
  RGB:"r161 g137 b0",
    guid:"",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Yellow_200 {
  background-color: $Calcite_Yellow_200;

  /*
   {
  Hex:"#BCA626",
  RGB:"r188 g166 b38",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Yellow_250 {
  background-color: $Calcite_Yellow_250;

  /*
   {
  Hex:"#CBB635",
  RGB:"r203 g182 b53",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Yellow_a100 {
  background-color: $Calcite_Yellow_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Yellow_a150 {
  background-color: $Calcite_Yellow_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Yellow_a200 {
  background-color: $Calcite_Yellow_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Yellow_a250 {
  background-color: $Calcite_Yellow_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}





//* -- Calcite Core Orange -- *//


.Calcite_Orange_100 {
  background-color: $Calcite_Orange_100;

  /*
   {
  Hex:"#744B22",
  RGB:"r116 g75 b34",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Orange_150 {
  background-color: $Calcite_Orange_150;

  /*
   {
  Hex:"#A0641F",
  RGB:"r160 g100 b31",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Orange_200 {
  background-color: $Calcite_Orange_200;

  /*
   {
  Hex:"#D08633",
  RGB:"r208 g134 b51",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Orange_250 {
  background-color: $Calcite_Orange_250;

  /*
   {
  Hex:"#E79539",
  RGB:"r231 g149 b57",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Orange_a100 {
  background-color: $Calcite_Orange_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Orange_a150 {
  background-color: $Calcite_Orange_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Orange_a200 {
  background-color: $Calcite_Orange_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Orange_a250 {
  background-color: $Calcite_Orange_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}





//* -- Calcite Core Green -- *//


.Calcite_Green_100 {
  background-color: $Calcite_Green_100;

  /*
   {
  Hex:"#285328",
  RGB:"r40 g83 b40",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Green_150 {
  background-color: $Calcite_Green_150;

  /*
   {
  Hex:"#376E37",
  RGB:"r55 g110 b55",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Green_200 {
  background-color: $Calcite_Green_200;

  /*
   {
  Hex:"#4A9349",
  RGB:"r74 g147 b73",
    guid:"",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Green_250 {
  background-color: $Calcite_Green_250;

  /*
   {
  Hex:"#57AC56",
  RGB:"r87 g172 b86",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Green_a100 {
  background-color: $Calcite_Green_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Green_a150 {
  background-color: $Calcite_Green_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Green_a200 {
  background-color: $Calcite_Green_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Green_a250 {
  background-color: $Calcite_Green_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}






//* -- Calcite Core Red -- *//


.Calcite_Red_100 {
  background-color: $Calcite_Red_100;

  /*
   {
  Hex:"#622721",
  RGB:"r98 g39 b33",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Red_150 {
  background-color: $Calcite_Red_150;

  /*
   {
  Hex:"#843117",
  RGB:"r132 g49 b23",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Red_200 {
  background-color: $Calcite_Red_200;

  /*
   {
  Hex:"#AA411E",
  RGB:"r170 g65 b30",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Red_250 {
  background-color: $Calcite_Red_250;

  /*
   {
  Hex:"#C64F27",
  RGB:"r198 g79 b39",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Red_a100 {
  background-color: $Calcite_Red_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Red_a150 {
  background-color: $Calcite_Red_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Red_a200 {
  background-color: $Calcite_Red_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Red_a250 {
  background-color: $Calcite_Red_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}



//* -- Calcite Core Purple -- *//


.Calcite_Purple_100 {
  background-color: $Calcite_Purple_100;

  /*
   {
  Hex:"#3D3553",
  RGB:"r61 g53 b83",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Purple_150 {
  background-color: $Calcite_Purple_150;

  /*
   {
  Hex:"#4B3D6D",
  RGB:"r75 g61 b109",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Purple_200 {
  background-color: $Calcite_Purple_200;

  /*
   {
  Hex:"#60508B",
  RGB:"r96 g80 b139",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Purple_250 {
  background-color: $Calcite_Purple_250;

  /*
   {
  Hex:"#7F6FA9",
  RGB:"r127 g111 b169",
    guid:"",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Purple_a100 {
  background-color: $Calcite_Purple_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Purple_a150 {
  background-color: $Calcite_Purple_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Purple_a200 {
  background-color: $Calcite_Purple_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Purple_a250 {
  background-color: $Calcite_Purple_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}




//* -- Calcite Core Brown -- *//


.Calcite_Brown_100 {
  background-color: $Calcite_Brown_100;

  /*
   {
  Hex:"#4A331C",
  RGB:"r74 g51 b28",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Brown_150 {
  background-color: $Calcite_Brown_150;

  /*
   {
  Hex:"#66431E",
  RGB:"r102 g67 b30",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Brown_200 {
  background-color: $Calcite_Brown_200;

  /*
   {
  Hex:"#8B5D2A",
  RGB:"r139 g93 b42",
    guid:"",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Brown_250 {
  background-color: $Calcite_Brown_250;

  /*
   {
  Hex:"#A56F31",
  RGB:"r65 g111 b49",
    guid:"",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Brown_a100 {
  background-color: $Calcite_Brown_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Brown_a150 {
  background-color: $Calcite_Brown_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Brown_a200 {
  background-color: $Calcite_Brown_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Brown_a250 {
  background-color: $Calcite_Brown_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

































